@charset "UTF-8";

//colors
$white: white;
$color_baltic_sea_approx: #2b2b2b;
$black_60: rgba(0,0,0,0.6);
$color_chalky_approx: #edd398;
$black_90: rgba(0,0,0,0.9);
$color_gray_approx: #7e7e7e;
$black_70: rgba(0,0,0,0.7);
$color_celeste_approx: #ccc;
$black_80: rgba(0,0,0,0.8);
$black_50: rgba(0,0,0,0.5);
$color_claret_approx: #8d1831;
$color_salem_approx: #008f58;
$black_30: rgba(0,0,0,0.3);
$white_60: rgba(255,255,255,0.6);
$black: black;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

//borders
$border_radius_1 :10px;

//text shadow
@mixin text-shadow {
  text-shadow: 2px 2px 2px $black_80;
}


html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: $font_0, $font_1, $font_2;
}
p {
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	&.infz-morePracice-instruction {
		font-weight: bold;
		margin: 1em 2em 0;
		color: $white;
	}
	&.infz-morePracice {
		margin: 0 2em;
		padding: 0;
		color: $white;
	}
}
h1 {
	margin: 0;
	padding: 0;
	&.infz-unit-opener {
		color: $white;
		font-size: 2em;
		margin-bottom: 0.5em;
	  	@include text-shadow;
		letter-spacing: 1px;
		padding: 0 4%;
		span.infz-h1-subText {
			margin-left: 0.8em;
			font-weight: normal;
		}
	}
	&.infz-lesson-head {
		color: $white;
		font-size: 2em;
		margin-bottom: 0.5em;
		@include text-shadow;
		letter-spacing: 1px;
		padding: 0 4%;
		&.infz-LC {
			font-size: 1.3em;
		}
		span.infz-h1-subText {
			margin-left: 0.8em;
			font-weight: normal;
		}
		&.infz-unitSummary {
		  margin-bottom: 0.8em;
		}
	}
}
h2 {
	margin: 0;
	padding: 0;
	&.infz-lesson-head {
		color: $white;
		font-size: 1.5em;
		margin-bottom: 0.1em;
		padding: 0 4%;
	  	@include text-shadow;
		letter-spacing: 1px;
		&.infz-LC {
			font-size: 1.1em;
		}
		span.infz-h2-subText {
		  margin-left: 0.8em;
		  font-weight: normal;
		}
	}
}
.wrapper {
	text-align: left;
}
.container {
	margin: 0 auto;
	width: 960px;
	position: relative;
	overflow: hidden;
}
.infz-button {
	display: table;
	float: right;
	clear: right;
	background-color: $color_baltic_sea_approx;
	border-radius: $border_radius_1;
	margin: -0.5em 2em 0.5em 0;
	box-shadow: 2px 2px 6px $black_60;
	border: 1px solid $white;
	cursor: pointer;
	color: $white;
	&:hover {
		color: $color_chalky_approx;
	}
}
.infz-btn-graphic {
	display: table-cell;
	vertical-align: middle;
	padding: 0.5em;
	img {
		width: 80%;
		vertical-align: middle;
	}
}
.infz-btn-text {
	display: table-cell;
	padding: 0.5em 1em 0.5em 0;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.4em;
	text-shadow: 1px 1px 2px $black_90;
}
.banner-top2 {
	width: 960px;
	background-color: $color_gray_approx;
	min-height: 45px;
	position: relative;
	box-shadow: 0 4px 6px $black_70;
	z-index: 3;
}
.footerContainer {
	background-color: $color_celeste_approx;
	width: 960px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	bottom: 0;
	z-index: 7;
}
.infz-picture-container {
	width: 100%;
	position: relative;
	overflow: hidden;
  	margin-top: 1.5em;
	+ .infz-picture-container {
		margin-top: 0.9em;
	}
}
.infz-picture-content {
	float: left;
	width: 45.4%;
	height: 311px;
	border: 1px solid $white;
	position: relative;
	margin: 0 0 0 2.1em;
	+ .infz-picture-content {
		position: absolute;
		right: 2.1em;
	}
}
.infz-bg-image-a {
	background: $color_baltic_sea_approx url(../images/unit-opener-a.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.infz-bg-image-b {
	background: $color_baltic_sea_approx url(../images/unit-opener-b.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.infz-bg-image-c {
	background: $color_baltic_sea_approx url(../images/unit-opener-c.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.infz-bg-image-d {
	background: $color_baltic_sea_approx url(../images/unit-opener-d.jpg) no-repeat 50% 50%;
	background-size: cover;
}
.infz-picture-caption {
	border-top-left-radius: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.infz-caption {
	font-weight: bold;
	padding: 0.3em 1.5em;
	color: $white;
	text-shadow: 1px 1px 1px $black_50;
	font-size: 1.3em;
	line-height: 1em;
	span {
		font-weight: normal;
		letter-spacing: 0;
		font-size: 0.75em;
	}
}
.infz-lesson-opener-content {
	padding: 1em 0 0;
	width: 100%;
	margin-bottom: -3em;
	img {
		width: 100%;
		margin-bottom: -4px;
	}
	p {
		color: $white;
		padding: 0 4%;
	}
	ul {
	  color: $white;
	  margin: 0.8em 4%;
	  padding: 0 0 0 1em
	}
  li {
	margin: 0.3em 0;
	line-height: 1.3em;
  }
}
.infz-lesson-closer-headingPanel {
	background-color: $color_claret_approx;
	padding: 0;
	width: 100%;
	margin-top: 1em;
	h3 {
		color: $white;
		font-size: 1.8em;
		line-height: 1.8em;
		margin: 0;
		padding: 0 4%;
	  	@include text-shadow;
	}
}
.infz-list-panel {
	background-color: $white;
	padding: 2% 2% 2.5em 4%;
	ul {
		margin: 0.8em 0 0 0;
		padding-left: 1.4em;
		width: 515px;
		li {
			position: relative;
			list-style-type: none;
			margin: 0.5em 0 0 0;
			width: 100%;
			line-height: 1.4em;
			&:before {
				margin-right: 0.4em;
				position: absolute;
				left: -1.4em;
				top: 0.15em;
				display: block;
				content: "";
				width: 1.2em;
				height: 1.2em;
				background: transparent url('../images/bullet_tick.png') no-repeat;
			}
		}
	}
}
.infz-image-float {
	float: right;
	clear: right;
	width: 285px;
	border: 1px solid $white;
	background-color: $color_salem_approx;
	position: relative;
	right: 37px;
	top: 6px;
	overflow: hidden;
	box-shadow: 3px 3px 6px $black_30;
	img {
		width: 100%;
		height: auto;
		display: block;
		position: relative;
	}
}
.infz-morePractice-container {
	width: 100%;
	margin: 0;
	padding: 1em 0 0.5em 0;
	position: relative;

	.infz-morePractice-right p {
		margin: 0;
		padding: 0.2em 0;
	}
}
.infz-morePractice-tab {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0.5em 0 0 0;
	position: absolute;
	top: -1em;
	p {
		color: $white;
		padding: 0 1.7em;
		font-size: 1.2em;
		font-weight: bold;
	}

}
.infz-morePractice-panel {
	margin: 1em 4%;
	display: table;
	width: 92%;
	background-color: $white_60;
  	line-height: 1.4em;
	p {
		padding: 0.8em 0.5em;
	  margin: 0.8em 0;
	}
	ul {
	  color: $black;

	  padding-left: 1em;
	}
  li {
	margin:0.1em 0
  }
}
.infz-morePractice-left {
	display: table-cell;
	vertical-align: middle;
	width: 30%;
	font-weight: bold;
}
.infz-morePractice-right {
	display: table-cell;
	vertical-align: middle;
	width: 70%;
}

.infz-closer-circleList-container {
	margin: 0 2em;
	position: relative;
	overflow: hidden;
}
.infz-closer-circleList-box {
	float: left;
	width: 48%;
	ol {
		list-style: none;
		counter-reset: numList;
		margin-left: 1em;
		li {
			position: relative;
			margin: 0.7em 0;
			line-height: 1.4em;
			color: $white;
			&:before {
				counter-increment: numList;
				content: counter(numList, upper-alpha);
				position: absolute;
				left: -2.85em;
				font-weight: bold;
				font-size: 1.2em;
				text-align: center;
				color: $white;
				line-height: 29px;
				padding: 0.2em;
				width: 28px;
				height: 28px;
				background: $black;
				border-radius: 999px;
			}
		}
	}
	+ .infz-closer-circleList-box {
		position: absolute;
		right: 0;
	}
}
.startNum3 {
	counter-reset: numList 2;
}
.infz-list-container {
	position: relative;
	overflow: hidden;
	padding-bottom: 0.5em;
	table {
		width: 100%;
		margin-top: 0.5em;
		td {
			width: 50%;
			vertical-align: top;
			ul {
				width: 90%;
				margin-top: 0;
				li {
					margin-top: 0;
				}
			}
		}
		tr + tr td {
			padding-top: 0.5em;
		}
	}
}
.infz-content-container {
  margin: 1.5em;
  padding: 1.5em 0;
  text-align: left;
  -webkit-border-top-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-left-radius: 50px;
  position: relative;
  &.infz-close-bottomUp {
	margin-bottom: 0;
	padding-bottom: 0;
  }
}